* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

.note-app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

.note-app h1 {
  font-weight: bold;
  font-size: 45px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.note-app h2 {
  font-size: 30px;
  padding: 10px;
  margin: 25px 10px 10px;
}

.note-app .noarchive {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(206, 206, 206);
  padding: 20px;
  border-radius: 10px;
}

.note-app .search {
  width: 40%;
  padding: 10px 20px;
  margin: 5px 22px;
  margin-top: 25px;
  font-size: 15px;
  border: solid 0.1px rgb(119, 166, 255);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.note-item {
  align-items: center;
  margin: 10px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  width: 260px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.note-item_date {
  font-size: 12px;
  color: #aaa;
}

.note-item_body {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #aaa;
  flex: 1;
}

.note-header h3 {
  font-size: 25px;
  margin-bottom: 5px;
  padding: 5px 0;
}

.note-header p {
  font-size: 18px;
  padding: 5px 0;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.note-header {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
  flex: 1 1;
}

.note-body {
  margin-bottom: 15px;
}

.note-item__action {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.note-item_delete {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.note-item_delete:hover {
  background-color: darkred;
}

.note-item_arsip {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.note-item_arsip:hover {
  background-color: darkblue;
}

.note-input {
  padding: 10px;
  margin: auto 10px;
  max-width: 800px;
}

.note-input_title {
  width: 800px;
  background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 12px 0;
    padding: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-input_note {
  min-height: 175px;
  min-width: 800px;
  background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 12px 0;
    padding: 12px;
}

.note-input button {
  color: aliceblue;
  background-color: rgb(0, 177, 201);
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin: 5px 10px;
  cursor: pointer;
  width: 100%;
  font-size: 19px;
}

.note-input button:hover {
  background-color: rgb(0, 138, 153);
}

.note-input p {
  font-size: 14px;
  text-align: right;
  margin-bottom: 10px;
}